.photo-grid {
  width: calc(100% - 2 *16px);
  margin: 0 auto;
  padding-bottom: 64px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

@media (min-width: 768px) {
  .photo-grid{
    width: calc(100% - 2 * 24px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .photo-grid{
    width: calc(100% - 2 * 48px);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .photo-grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
