.lead {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 64px;
  box-sizing: border-box;
}

@media (min-width: 544px) {
  .lead {
    padding-bottom: 76px;
  }
}

@media (min-width: 768px) {
  .lead {
    min-width: 751px;
    padding-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .lead {
    min-width: 928px;
    width: calc(100% - 2 * 48px);
    padding-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .lead {
    min-width: 984px;
    width: calc(100% - 2 * 148px);
  }
}
