.cover__subtitle {
  max-width: 288px;
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  margin: 0;
  text-align: center;
  align-self: center;
}

@media (min-width: 544px) {
  .cover__subtitle {
    max-width: 324px;
    font-size: 16px;
    line-height: 1.18;
  }
}

@media (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
  }
}
