.header {
  width: calc(100% - 2 * 16px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 48px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (min-width: 544px) {
  .header {
    width: calc(100% - 2 * 20px);
    padding: 22px 0 48px;
  }
}

@media (min-width: 768px) {
  .header {
    min-width: 720px;
    width: calc(100% - 2 * 24px);
    padding: 28px 0 48px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-width: 928px;
    width: calc(100% - 2 * 48px);
  }
}

@media (min-width: 1280px) {
  .header {
    min-width: 1184px;
    padding: 28px 0 56px;
  }
}
