.intro {
  width: calc(100% - 2 * 16px);
  margin: 0 auto;
  padding: 0 0 64px 0;
  box-sizing: border-box;
}

@media (min-width: 544px) {
  .intro {
    width: calc(100% - 2 * 20px);
    padding-bottom: 76px;
  }
}

@media (min-width: 768px) {
  .intro {
    min-width: 720px;
    width: calc(100% - 2 * 24px);
    padding-bottom: 88px;
  }
}

@media (min-width: 1024px) {
  .intro {
    min-width: 690px;
    width: calc(100% - 334px);
    margin: 0 286px 0 48px;
    padding-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .intro {
    margin: 0 442px 0 148px;
  }
}
