.footer {
  width: calc(100% - 16px - 104px);
  flex-basis: 200px;
  margin: 0 104px 0 16px;
  padding: 64px 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 48px 0;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    min-width: 720px;
    width: calc(100% - 2 * 24px);
    margin: 0 auto;
    padding: 88px 0 24px;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .footer {
    min-width: 928px;
    width: calc(100% - 2 * 48px);
    padding: 92px 0 24px;
  }
}

  @media (min-width: 1280px) {
    .footer {
      min-width: 1184px;
    }
  }
